<span class="t-2">Ad Change Form</span>

<br><br>

<div id="source-html">
    <div class="cal/version">
        <label for="adbegin">Ad Begin Date</label>
        <input type="date" id="adbegin" name="adbegin">
        
        <label for="adversion">Ad Version</label>
        <select name="adversion" id="adversion" required="true" >
            <option value="none" selected disabled hidden>Select</option>
            <option value="a">A - All A</option>
            <option value="b">B - All A & B</option>
            <option value="c">C - All Groups A, B, C</option>
            <option value="d">D - Corp Store Only</option>
            <option value="e">E - GYMa & Corp Stores</option>
            <option value="h">H - Hispanic Flyer</option>
            <option value="m">M - Month Long</option>
            <option value="o">O - Organic Flyer</option>
            <option value="z">Z - Non-Ad All Groups (no print)</option>
        </select>
    </div>
    
    <br>
    
    <div class="changestatus">
        <div>Change Status</div>
        <form class="changestatusoptions" id="changeStatus">
            <input type="checkbox" name="change_status" id="cancellation" value="Cancellation">
            <label for="cancellation">Cancellation</label>
            
            <input type="checkbox" name="change_status" id="costchange" value="Cost">
            <label for="costchange">Cost Change</label>
            
            <input type="checkbox" name="change_status" id="retailchange" value="Retail">
            <label for="retailchange">Retail Change</label>
            
            <input type="checkbox" name="change_status" id="dealamountchange" value="Deal">
            <label for="dealamountchange">Deal Amount Change</label>
            
            <input type="checkbox" name="change_status" id="additionalitems" value="Additional">
            <label for="additionalitems">Additional Items</label>
        </form>
    </div>
    
    <br>
    
    <div>
        <form class="getitems">
            <label for="itemnumber">Item Number</label>
            <input type="text" name="itemnumber" id="itemNum" maxlength="7">
            <button id="getItemBtn" type="submit">Get/Add Item(s)</button>
        </form>
        <span id="itemnotice"></span>
    </div>
    
    <br>
    
    <div class="itemlist">
        <div>Items</div>
        <div class="list">
            <div class="container bg-secondary text-light" id="listHeader"></div>
            <div class="container" id="itemList"></div>
        </div>
    </div>
    <br>
    <div>
        <div>Add Item Manually</div>
        <form>
            <label for="manualItemNum">Item Number</label>
            <input type="text" name="manualItemNum" id="manualItemNum" maxlength="7">
            <label for="manualItemPk">PK</label>
            <input type="text" name="manualItemPk" id="manualItemPk">
            <label for="manualItemSize">Size</label>
            <input type="text" name="manualItemSize" id="manualItemSize">
            <label for="manualItemDesc">Description</label>
            <input type="text" name="manualItemDesc" id="manualItemDesc">
            <button type="submit" id="manualItemAdd">Add Item</button>
            <span id="errorSpan"></span>
        </form>
    </div>
    <br>
    <button id="clearItemList" type="button">Clear All Items</button>

    <br>
    <br>
    
    <div class="comments">
        <div>Comments</div>
        <textarea id="comments" name="comments" rows="3"></textarea>
    </div>

    <br>

    <button id="genDocBtn" type="button">Generate Document</button>
    <span id="genErrorSpan"></span>

    <br>
    <br>

    <button id="reloadPageBtn" type="button">Reset Form</button>

    <br>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/script.js"></script>