<span class="t-2">Ad Change Form</span>

<br><br>

<form action="">
    <div class="cal/version">
        <label for="adbegin">Ad Begin Date</label>
        <input type="date" id="adbegin" name="adbegin">
        
        <label for="adversion">Ad Version</label>
        <select name="adversion" id="adversion" required="true" >
            <option value="none" selected disabled hidden>Select</option>
            <option value="a">A - All A</option>
            <option value="b">B - All A & B</option>
            <option value="c">C - All Groups A, B, C</option>
            <option value="d">D - Corp Store Only</option>
            <option value="e">E - GYMa & Corp Stores</option>
            <option value="h">H - Hispanic Flyer</option>
            <option value="m">M - Month Long</option>
            <option value="o">O - Organic Flyer</option>
            <option value="z">Z - Non-Ad All Groups (no print)</option>
        </select>
    </div>
    
    <br>
    
    <div class="changestatus">
        <div>Change Status</div>
        <div class="changestatusoptions">
            <input type="checkbox" name="cancellation" id="cancellation" value="cancellation">
            <label for="cancellation">Cancellation</label>
            
            <input type="checkbox" name="costchange" id="costchange" value="costchange">
            <label for="costchange">Cost Change</label>
            
            <input type="checkbox" name="retailchange" id="retailchange" value="retailchange">
            <label for="retailchange">Retail Change</label>
            
            <input type="checkbox" name="dealamountchange" id="dealamountchange" value="dealamountchange">
            <label for="dealamountchange">Deal Amount Change</label>
            
            <input type="checkbox" name="additionalitems" id="additionalitems" value="additionalitems">
            <label for="additionalitems">Additional Items</label>
        </div>
    </div>
    
    <br>
    
    <div>
        <form class="getitems">
            <label for="itemnumber">Item Number</label>
            <input type="text" name="itemnumber" id="itemNum" maxlength="7">
            <button id="getItemBtn" type="submit">Get/Add Item(s)</button>
        </form>
    </div>
    
    <br>
    
    <div class="itemlist">
        <div>Items</div>
        <div class="list"></div>
    </div>
    
    <br>
    
    <div class="comments">
        <div>Comments</div>
        <textarea id="comments" name="comments" rows="3"></textarea>
    </div>

    <br>

    <div class="sendsubmit">
        <button type="submit">Send Email</button>
        <button type="submit">Generate Document</button>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/script.js"></script>