main {
    padding-left: 10px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

.list {
    width: 98%;
    border: 2px black solid;
    padding: 3px;
}

textarea {
    width: 98%;
}

#input,
#itemInput {
    width: 100%;
}

.container {
    max-width: 100%;
}

#itemNum,
#manualItemNum {
    width: 80px;
}

#manualItemPk {
    width: 40px;
}

#manualItemSize {
    width: 55px;
}

#manualItemDesc {
    width: 200px;
}

.listedItem:hover {
    background-color: lightslategray;
}