main {
    padding-left: 10px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

.list {
    width: 98%;
    border: 2px black solid;
    padding: 3px;
}

textarea {
    width: 98%;
}

#input {
    width: 100%;
}